{% extends "base.html" %}

{% block title %}Imports{% endblock %}

{% block content %}

<h2>Imports</h2>

{% if perms.scouts.import_users %}

<ul>
	<li><a href="{% url 'troopmaster_imports' %}">Troopmaster</a></li>
	<li><a href="{% url 'scoutbook_imports' %}">Scoutbook</a></li>
	<li><a href="{% url 'troopwebhost_imports' %}">Troopwebhost</a></li>
</ul>

{% else %}

<p>No permissions to import users</p>

{% endif %}

{% endblock %}
