{% extends "base.html" %}

{% block title %}Imports{% endblock %}

{% block content %}

<h2>TroopWebHost: Not Implemented Yet</h2>

{% if perms.scouts.import_user %}

<ul>
	<li><a href="{% url 'troopmaster_imports' %}">Troopmaster</a></li>
	<li><a href="{% url 'scoutbook_imports' %}">Scoutbook</a></li>
</ul>

{% endif %}

{% endblock %}
