
{% extends 'base.html' %}
{% block title %}User Profile Edit{% endblock %}
{% block content %}

{% load crispy_forms_tags %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}

