{% extends 'base.html' %}

{% block title %}Leaders{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
    <form method="get">
        {{ filter.form|crispy }}
	<p><input type="submit" /></p>
    </form>
    <table class="table table-striped table-hover">
	    <thead>
	    <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Start date</th>
            <th>End date</th>

{% if perms.leaders.create_leader %}
	    <th><a href="{% url 'leader_create' %}"><button type="button" class="btn btn-success">Assign New</button></a></th>
{% else %}
	    <th></th>
{% endif %}
	    <th></th>
	    </tr>
	    </thead>

	    <tbody>

	{% for leader in object_list %}
        <tr>
		<td><a href="{% url 'leader_detail' leader.id %}">{{ leader.user.first_name }} {{ leader.user.last_name }}</a></td>
		<td>{{ leader.position.name }}</td>
		<td>{{ leader.start_date }}</td>
		<td>{{ leader.end_date }}</td>

{% if perms.leader.change_leader %}
		<td><a href="{% url 'leader_update' leader.id %}"><button type="button" class="btn btn-primary">Edit</button></a></td>
{% else %}
		<td></td>
{% endif %}
{% if perms.leader.delete_leader %}
		<td><a href="{% url 'leader_delete' leader.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
{% else %}
		<td></td>
{% endif %}
        </tr>
        {% endfor %}
	    </tbody>
    </table>

{% endblock %}

