<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Leaders
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="/leaders/scout/">Scout Leaders</a></li>
    <li><a class="dropdown-item" href="/leaders/adult/">Adult Leaders</a></li>
    <li><a class="dropdown-item" href="/leaders/filtered/">Leader Filtered View</a></li>
  </ul>
</li>

