<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPeople" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    People
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownPeople">
    <li><a class="dropdown-item" href="/scouts/">Scouts</a></li>
    <li><a class="dropdown-item" href="/adults/">Adults</a></li>
  </ul>
</li>

